**/config.xsl
# ignore yml files
**/*.yml
# except those yml files that are examples
!**/*.example.yml

# ignore all the repositories in the projects directory
projects/*
# except the keep file
!projects/.keep


# ignore tmp directory even though will need to create it each time
tmp/*

# ignore logs because there are so many of them!
logs/*