**/config.xsl
# ignore only config and private yml files
**/config.yml
**/private.yml

# ignore all the repositories in the projects directory
projects/*
# except the keep file
!projects/.keep
!projects/example

# ignore tmp directory even though will need to create it each time
tmp/*

# ignore logs because there are so many of them!
logs/*
!logs/.keep

**/.DS_Store
