# This .gitignore file can be used as an example
# for new projects

# ignore config files
config.yml
private.yml

# There might be a better way of doing this, but something about
# gitignoring inside an ignored subdirectory seems to be more finicky than normal

**/es/*
**/html-generated/*
**/solr/*

!**/.keep
